name: Linter

on:
  push:
    branches:
      - "**"

jobs:
  docker-linter:
    name: Docker Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Lint
        uses: github/super-linter/slim@v7
        env:
          VALIDATE_DOCKERFILE_HADOLINT: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
